@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Marian Web 1554';
  src: url('/assets/fonts/MarianWeb1554-Regular.woff2') format('woff2'),
       url('/assets/fonts/MarianWeb1554-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-marian;
}

.mce_inline_error {
  background-color: transparent !important;
  color: red; /* or any color you like */
}